# Byte-compiled / optimized / DLL files
__pycache__/

# Visual Studio Code
.vscode

# Distribution / packaging
build/
wheels/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST

# Unit test / coverage reports
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# Project-related
*.log
serialization/